<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Detector Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            cursor: pointer;
        }

        /* .sorted-asc::after {
            content: " ▲";
        }

        .sorted-desc::after {
            content: " ▼";
        } */
    </style>
    <script>
        // Function to update values based on dropdown selection
        function updateValues(selectElement, similarTokensElement, similarityScoreElement, event, a) {
            // Get the selected index and text from the dropdown
            var selectedIndex = selectElement.selectedIndex;
            //   var selectedText = selectElement.options[selectedIndex].text;
            // var x = '{{modified_dict}}'
            var key = String(event.target.value);
            console.log('key = ', key);
            // console.log('a = ',a);
            a1 = JSON.parse(a);
            console.log("a1 = ", a1);
            // console.log(typeof a1);
            //console.log("Value for 'app4.py':", a1['app4.py']);
            //console.log("b = ", a1['app4.py'][0]);
            console.log("s index = ", selectedIndex);
            console.log("simto = ", a1[key][selectedIndex][2]);
            similarTokensElement.textContent = a1[key][selectedIndex][2];
            similarityScoreElement.textContent = String(a1[key][selectedIndex][3] + '%');
        }
    </script>
    <script src="https://kit.fontawesome.com/6c4bbd468f.js" crossorigin="anonymous"></script>


</head>


<body>
    <div class="container">
        <div class="container_right">
            <div class="hycode">
                <h1 class="hycode_text">
                    Hycode</h1>
            </div>

            <!-- good form-->
            <div>
                <form id="myForm" action="/compare_code" method="post" enctype="multipart/form-data">
                    <div class="upload_icon">

                        <label class="upload_label" for="file-input" id="file-label">

                            <?xml version="1.0" encoding="UTF-8"?> <!--icon-->
                            <svg class="svg_block" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                                viewBox="0 0 200 200" version="1.1">
                                <g id="surface1">
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 12 9.999844 L 12 20.000156 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 12 9.999844 L 15.999844 14.000156 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 12 9.999844 L 8.000156 14.000156 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 3.999844 3.999844 L 20.000156 3.999844 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                </g>
                            </svg>
                        </label>

                    </div>

                    <div class="upload_text">

                        <label class="upload_text_label" for="file-input" id="file-label">
                            <input type="file" name="files[]" id="file-input" accept=".java, .cpp, .py" multiple
                                style="display: none;" required />

                            <span onclick="document.getElementById('file-input').click()"> </span> Click
                            to
                            Upload Files
                        </label>

                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">

                        <button class="blue_Button" type="submit">Check Similarity</button>
                    </div>

                </form>

            </div>


        </div>

        <div class="middle_container">
            <div class="report_containers">

                <div class="similarity_text_box">
                    <h1 class="similarity_text">
                        Similarity Report</h1>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th data-sort="file-name"><i class="fas fa-sort"> File Name</i></th>
                            <th data-sort="similar-tokens"><i class="fas fa-sort"> Similar Tokens</i></th>
                            <th data-sort="similarity-score"><i class="fas fa-sort"> Similarity Score</i></th>
                            <th data-sort="match-against"><i class="fas fa-sort"> Match Against</i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, val_list in myd2.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            {% set val_list_var = val_list %}
                            <td class="similar-tokens">{{ val_list[0][2] }}</td>
                            <td class="similarity-score">{{ val_list[0][3] }}%</td>
                            <td>
                                <select
                                    onchange="updateValues(this, this.parentElement.previousElementSibling.previousElementSibling,this.parentElement.previousElementSibling, event,'{{myd2_json}}')"
                                    style="background-color: lightskyblue; color: #333; border: 1px solid #ccc; border-radius: 5px; padding: 5px;">
                                    {% for i in val_list %}
                                    <option value="{{ key }}" style="background-color: #f0f8ff; color: #333;">{{ i[1] }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>

                            <td><a href="#" class="view-link" onclick="viewStudent(this,'{{key}}')">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const getCellValue = (tr, idx) => tr.children[idx].textContent || tr.children[idx].innerText;

            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            document.querySelectorAll('th').forEach(th => th.addEventListener('click', () => {
                const table = th.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => tbody.appendChild(tr));
                document.querySelectorAll('th').forEach(th => th.classList.remove('sorted-asc', 'sorted-desc'));
                th.classList.toggle('sorted-asc', this.asc);
                th.classList.toggle('sorted-desc', !this.asc);
            }));
        });


        function viewStudent(link, key) {
            key = key.trim();
            // console.log("link = ", link,"!");
            // console.log("key = ", key,"!")

            var selectElement = link.parentElement.previousElementSibling.querySelector('select');
            var selectedOption = selectElement.options[selectElement.selectedIndex].innerText;
            var encodedOption = encodeURIComponent(selectedOption);
            selectedOption=selectedOption.trim();
            // console.log("s option = ",selectedOption,"!");
            // console.log("enc option = ",encodedOption,"!");
            // console.log("enc key = ",encodeURIComponent(key),"!");

            var url = "{{ url_for('student_page', row='PLACEHOLDER_1', row2='PLACEHOLDER_2') }}".replace('PLACEHOLDER_1', selectedOption).replace('PLACEHOLDER_2', encodeURIComponent(key));
            // console.log("url = ", url)

            // Navigate to the constructed URL
            window.location.href = url;
        }

        document.getElementById('myForm').addEventListener('submit', function (event) {
            var files = document.getElementById('file-input').files;
            if (files.length < 2) {
                event.preventDefault(); // Prevent form submission
                alert("Please upload at least 2 files."); // Show alert message
            }
        });
    </script>
</body>

</html>