<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Detector Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="container_right">
            <div class="hycode">
                <h1 class="hycode_text">
                    Hycode</h1>
            </div>
            <div>
                <form action="/compare_code" method="post" enctype="multipart/form-data">
                    <div class="upload_icon">

                        <label class="upload_label" for="file-input" id="file-label">

                            <?xml version="1.0" encoding="UTF-8"?> <!--icon-->
                            <svg class="svg_block" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                                viewBox="0 0 200 200" version="1.1">
                                <g id="surface1">
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 12 9.999844 L 12 20.000156 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 12 9.999844 L 15.999844 14.000156 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 12 9.999844 L 8.000156 14.000156 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                    <path
                                        style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                        d="M 3.999844 3.999844 L 20.000156 3.999844 "
                                        transform="matrix(8.333333,0,0,8.333333,0,0)" />
                                </g>
                            </svg>
                        </label>

                    </div>

                    <div class="upload_text">

                        <label class="upload_text_label" for="file-input" id="file-label">
                            <input type="file" name="files[]" id="file-input" accept=".java, .cpp, .py" multiple
                                style="display: none;" required />

                            <span onclick="document.getElementById('file-input').click()"> </span> Click
                            to
                            Upload Files
                        </label>

                    </div>

                    <div style="display: flex; justify-content: center; align-items: center;">

                    <button class="blue_Button" type="submit">Check Similarity</button>
                </div>

                </form>

            </div>



        </div>
        <div class="middle_container">
            <div class="report_containers">

                <div class="similarity_text_box">
                    <h1 class="similarity_text">
                        Similarity Report</h1>
                </div>




                <!--  place jinga code for the content of the files  -->
                <div class="tab">
                    <button class="tab_button" onclick="openStudent(event, 'Student1')">{{final_list[0]}}</button>
                    <button class="tab_button" onclick="openStudent(event, 'Student2')">{{final_list[3]}}</button>
                </div>

                <div id="Student1" class="tabcontent">

                    <pre><code>{{final_list[6]}}</code></pre>
                </div>

                <div id="Student2" class="tabcontent">

                    <pre><code>{{final_list[7]}}</code></pre>
                </div>

                <script>
                    function openStudent(evt, studentName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(studentName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }
                </script>



                <div class="text_shared_tokens_div">
                    <h1 class="shared_token_text"> Shared Tokens: </h1>
                </div>


                <div class="gray_container_shared_box">



                    <div class="white_container_shared_box">
                        {{final_list[4]}}

                    </div>

                </div>



            </div>
        </div>
        <div class="container_3">

            {% if result %}
            {% if result.error %}

            <div class="container_3_text">
                <h2 class="ans_text_heading">Error:</h2>
            </div>
            <div class="container_3_text_ans">
                <p class="ans_text" style="margin-top: 0%;">{{ result.error }}</p>
            </div>


            {% endif %}
            {% endif %}



            <div class="container_3_text">
                <h1 class="ans_text_heading"> Similarity </h1>
            </div>

            <div class="container_3_text_ans">
                {{final_list[2]}}
            </div>

            <div class="container_3_text">
                <h1 class="ans_text_heading"> Similar tokens </h1>
            </div>

            <div class="container_3_text_ans">
                {{final_list[1]}}
            </div>

            <div class="container_3_text">
                <h1 class="ans_text_heading"> Status </h1>
            </div>

            <div class="container_3_text_ans">
                {{final_list[5]}}
            </div>

            <div>
                <span style="margin-top: 3rem;" class="buton_box blue_Button" onclick="goBack()">View Report</span>
            </div>

        </div>

    </div>

    <script>
        // JavaScript function to redirect to the last page
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>