<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Detector Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body style="background-color:#576dbd;">
    <h1 style=" position: fixed ;
    color: #1a2c6c;
    transform: translate(20%, -40%);">HyCode</h1>
    <div id="code-area">
        <h1 style="color:rgb(105, 105, 156); ; transform: translate(0%, -310%)"></h1>
        <form action="/compare_code" method="post" enctype="multipart/form-data">
            <div style="background-color: #ececee; border-color: #ececee; margin-bottom: 370px;  ">
                <label for="file-input" id="file-label">

                    <?xml version="1.0" encoding="UTF-8"?> <!--icon-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200px"
                        height="200px" viewBox="0 0 200 200" version="1.1">
                        <g id="surface1">
                            <path
                                style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                d="M 12 9.999844 L 12 20.000156 " transform="matrix(8.333333,0,0,8.333333,0,0)" />
                            <path
                                style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                d="M 12 9.999844 L 15.999844 14.000156 "
                                transform="matrix(8.333333,0,0,8.333333,0,0)" />
                            <path
                                style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                d="M 12 9.999844 L 8.000156 14.000156 " transform="matrix(8.333333,0,0,8.333333,0,0)" />
                            <path
                                style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(26, 44, 108);stroke-opacity:1;stroke-miterlimit:4;"
                                d="M 3.999844 3.999844 L 20.000156 3.999844 "
                                transform="matrix(8.333333,0,0,8.333333,0,0)" />
                        </g>
                    </svg>
                </label>
                <label for="file-input" id="file-label">
                    <input type="file" name="files[]" id="file-input" accept=".java, .cpp, .py" multiple
                        style="display: none;" />

                    <span class="upload-icon" onclick="document.getElementById('file-input').click()"> </span> Click to
                    Upload Files
                </label>
                <button type="submit">Check Similarity</button>
            </div>
        </form>
    </div>
    </div>
    <!-- <div id="file-display">
    still fixing display

    </div>-->
    {% if result %}
    {% if result.error %}
    {% else %}
    <div id="result-area-grid">
        <div id="results-area-shared">

            <p><strong>Shared Tokens:</strong></p>
            <ul>
                {% for key, value in result.shared_tokens.items() %}
                <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div>
        {% if result %}
        {% if result.error %}
        <div style="text-align: center; margin-left: 500px;">
            <h2>Error:</h2>
            <p class="error">{{ result.error }}</p>
        </div>
        {% else %}
        <div id="results-area">

            <div class="result-item">
                <p><strong>Similarity:</strong> </p>
                <ul>
                    {% for key, value in result.word_similarity.items() %}
                    <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                <br>
                <p><strong>Similar Tokens:</strong> </p>
                <ul>
                    {% for key, value in result.token_similarity.items() %}
                    <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                <br>
                <p><strong>Plagiarism Detected:</strong> </p>
                <ul>
                    {% for key, value in result.is_plagiarism.items() %}
                    <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endif %}
        </div>

</body>

</html>